.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/
/controllers/ERISA/Employers/Renewal_New.php
/views/ERISA/renewal_step1_new.php
*.bat
views/FMLA/assets/6279e21f9f5c7.png
views/FMLA/phpqrcode/cache
views/FMLA/phpqrcode/README
views/FMLA/phpqrcode/VERSION
views/FMLA/assets/6279e21f9f5c7.png
views/FMLA/assets/6279e22740549.png
views/FMLA/assets/6279e37342858.png
views/FMLA/assets/6279e47719100.png
views/FMLA/assets/6279e96b4e84d.png
views/FMLA/assets/6279f014f0472.png
views/FMLA/assets/6279f021401bb.png
views/FMLA/assets/6279f031081b3.png
views/FMLA/assets/6279f51acba2b.png
views/FMLA/assets/6279f79dcd2cb.png
views/FMLA/assets/6279f7a6a5ff7.png
views/FMLA/assets/6279f7b49ca4b.png
views/FMLA/assets/6279f7d710bdc.png
views/FMLA/assets/6279f7db4dcfd.png
